[submodule "part1/courseinfo"]
	path = part1/courseinfo
	url = https://github.com/janreggie/fso-courseinfo.git
[submodule "part1/unicafe"]
	path = part1/unicafe
	url = https://github.com/janreggie/fso-unicafe.git
